<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启部分注解-->
    <context:annotation-config/>
    <!-- 扫描以下两个注解外的所有 -->
    <context:component-scan base-package="com.hyl">
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 将静态资源请求转由默认的Servlet处理 -->
    <mvc:default-servlet-handler/>

    <!-- freemarker 配置 -->
    <bean id="freemarkerConfigurer"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/page" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!--platform里面的配置文件-->
    <!--<import resource="classpath:/spring/applicationContext-db.xml"/>-->
    <!--<import resource="classpath:/spring/applicationContext-jms.xml"/>-->
    <import resource="classpath:/spring/applicationContext-rabbitmq.xml"/>

    <!--<util:properties id="jdbcConf" location="classpath:jdbc.properties" />-->
</beans>